p{

    display: flex;
    justify-content: center;
    align-items:center;
    border-style:solid;
    border-radius: 25px;
    /* margin-left: 35%;
    margin-right: 35%;
    margin-top: 20%;
     */
}

button{
    display: grid;
    justify-content: center;
    align-items:center;
    
}
